body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/donation13.jpg);
    background-repeat: no-repeat;

}
#content{
    display: flex;
    align-items: center;
    justify-items: center;
    text-transform: lowercase;

}
h1{
    color: white;
    text-align: center;
    font-size: 50px;

}
p{
    text-align: center;
    color: white;
    font-size: 15px;
}
